body {
    background-color: rgb(red, green, blue)
    font-family: "Oswald", sans-serif;
}

footer {
    background-color: rgb(red, green, blue);
    color: rgb(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0)) position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p {
    text-align: center;
    font: 0.6rem;
    margin-top: 0.5rem;
}